/* Variables with global scope */
:root {
    
    
    /* Start: MolModSim Colors */
    --leap-fg-color:   #b13449;
    --leap-bg-color:   #f5eded;
    --python-fg-color: #031ba1;
    --python-bg-color: #f2eff6;
    --vmd-fg-color:    #208f61;
    --vmd-bg-color:    #ecf0ee;
    /* END: MolModSim Colors */
    
}

/* Color Scheme ACENET */
[data-md-color-scheme="acenet"] {
    --md-primary-fg-color: #00318f;
    --md-primary-fg-color--light: #17A2B8;
    --md-primary-fg-color--dark: #60269e;
    
    /* Colors for code blocks */
    --code-bg-color: #f8f8f8;
    --code-header-fg-color: #360084;
    --code-header-bg-color: #f2eff6;
    --error-fg-color: #bd2c00;
    --error-bg-color: #ffebe6;
    --warning-fg-color: #cda01d;
    --warning-bg-color: #f8f4e8;
    --output-fg-color: #303030;
    --output-bg-color: #efefef;
}

/* Dark-mode colors */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #60269e;
    
    /* Colors for code blocks */
    --code-bg-color: #333333;
    --code-header-bg-color: #360084;
    --code-header-fg-color: hsl(266, 28%, 75%);
    --error-bg-color: #bd2c00;
    --error-fg-color: hsl(12, 100%, 75%);
    --warning-bg-color: #cda01d;
    --warning-fg-color: hsl(45, 53%, 80%);
    --output-bg-color: #303030;
    --output-fg-color: hsl(0, 0%, 75%);
    
    div.highlight span.filename {
        background-color: #5e5a61;
        color: #bd99f5;
    }
    
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 3rem;
    width: auto;
}

/* 
div.highlight span.filename{
    color: var(--code-header-fg-color);
    background-color: var(--code-header-bg-color);
} */


/* Code Blocks (w/ syntax highlighting) */
/* Generic setup. Has to come before .error, .warning, and .output */
div[class^='language-'] { 
    color: var(--code-header-fg-color);
    border: solid 0.065em var(--code-header-fg-color);
    border-left: solid 0.325em var(--code-header-fg-color);
    margin: 0.975em 0.325em 0.65em 0;
    border-radius: 0.26em 0 0 0.26em;
}

div[class^='language-'] span.filename {margin-top: 0;}

div[class^='language-'] pre {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--code-bg-color);
}
div[class^='language-'] pre code{
    background-color: var(--code-bg-color);
}

div.error::before,
div.warning:before,
div.output::before,
div.source::before,
div[class^='language-']::before {
    background-color: var(--code-header-bg-color);
    display: block;
    font-weight: bold;
    padding: 0.325em 0.65em;
}

div[class^='language-']::before,
div.source::before { content: "Code";}

div.language-basic::before    { content: "Basic"; }
div.language-bash::before     { content: "Bash"; }
div.language-c::before        { content: "C"; }
div.language-cpp::before      { content: "C++"; }
div.language-chapel::before   { content: "Chapel"; }
div.language-cmake::before    { content: "CMake"; }
div.language-console::before  { content: "Shell"; }
div.language-cuda::before     { content: "Cuda"; }
div.language-d::before        { content: "D"; }
div.language-fortran::before  { content: "Fortran"; }
div.language-go::before       { content: "Go"; }
div.language-html::before     { content: "HTML"; }
div.language-java::before     { content: "Java"; }
div.language-julia::before    { content: "Julia"; }
div.language-kotlin::before   { content: "Kotlin"; }
div.language-lua::before      { content: "Lua"; }
div.language-make::before     { content: "Make"; }
div.language-matlab::before   { content: "MATLAB"; }
div.language-opencl::before   { content: "OpenCL"; }
div.language-perl::before     { content: "Perl"; }
div.language-python::before   { content: "Python"; }
div.language-r::before        { content: "R"; }
div.language-ruby::before     { content: "Ruby"; }
div.language-rust::before     { content: "Rust"; }
div.language-scala::before    { content: "Scala"; }
div.language-sql::before      { content: "SQL"; }
div.language-tcl::before      { content: "TCL"; }
div.language-vulkan::before   { content: "Vulkan"; }

/* Special raw codeblock without decorations: 
```{.text .raw}
some code
```
*/
div.raw {
    border: none;
}
div.raw::before,
div.source::before {
    content: '';
    padding: 0 0;
    display: none;
}

/* Error, Warning and Output boxes */
div.error.highlight::before   { background-color: var(--error-bg-color);   content: "Error"; }
div.warning.highlight::before { background-color: var(--warning-bg-color); content:" Warning"; }
div.output.highlight::before  { background-color: var(--output-bg-color);  content: "Output"; }
div.error           { color: var(--error-fg-color);   border-color: var(--error-fg-color); }
div.warning         { color: var(--warning-fg-color); border-color: var(--warning-fg-color); }
div.output          { color: var(--output-fg-color);  border-color: var(--output-fg-color); }

/* begin: added by MolModSim */
/* Generic setup of code boxes */
div.cpptraj::before { background-color: var(--vmd-bg-color);   content: "CppTraj"; }
div.leap::before    { background-color: var(--vmd-bg-color);   content: "LEaP"; }
div.file::before    { background-color: var(--vmd-bg-color);   content: "File"; }
div.vmd::before     { background-color: var(--vmd-bg-color);   content: "VMD"; }

div.cpptraj         { color: var(--leap-fg-color);    border-color: var(--leap-fg-color); }
div.leap            { color: var(--leap-fg-color);    border-color: var(--leap-fg-color); }
div.file            { color: var(--output-fg-color);  border-color: var(--output-fg-color); }
div.vmd             { color: var(--vmd-fg-color);     border-color: var(--vmd-fg-color); }
/* end: added MolModSim */

/* Custom call-out (Admonitions) */
/* Process:
 *  * look at call-outs at: https: //carpentries.github.io/lesson-example/04-formatting/index.html#special-blockquotes
 *  * find similar icons in: https: //github.com/squidfunk/mkdocs-material/tree/master/material/templates/.icons
 *  * color conversion:
 *      * look-up color of the call-out header from Carpentries lesson-example
 *      * convert color from HEX to HSL     (e.g.  #f4fd9c --> hsl(66, 96%, 80%) )
 *      * lower luminance (l in hsl) to 40% (e.g.  hsl(66, 96%, 80%) --> hsl(66, 96%, 40%) )
 *      * convert from hsl to rgb           (e.g.  hsl(66, 96%, 40%) --> rgb(180, 200, 4) )
 *      * use this color for:
 *          -  .md-typeset details.callout { border-color: ... ;}
 *          -  .md-typeset .callout>summary::before { background-color: ... ;}
 *      * use rgba(r, g, b, a) with same rgb values but with alpha 0.125 for
 *          - .md-typeset .callout>summary {background-color: rgba( ... );}
 */
:root {
    --md-admonition-icon--callout:      url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m11.294.984 3.722 3.722a1.75 1.75 0 0 1-.504 2.826l-1.327.613a3.089 3.089 0 0 0-1.707 2.084l-.584 2.454c-.317 1.332-1.972 1.8-2.94.832L5.75 11.311 1.78 15.28a.749.749 0 1 1-1.06-1.06l3.969-3.97-2.204-2.204c-.968-.968-.5-2.623.832-2.94l2.454-.584a3.08 3.08 0 0 0 2.084-1.707l.613-1.327a1.75 1.75 0 0 1 2.826-.504ZM6.283 9.723l2.732 2.731a.25.25 0 0 0 .42-.119l.584-2.454a4.586 4.586 0 0 1 2.537-3.098l1.328-.613a.25.25 0 0 0 .072-.404l-3.722-3.722a.25.25 0 0 0-.404.072l-.613 1.328a4.584 4.584 0 0 1-3.098 2.537l-2.454.584a.25.25 0 0 0-.119.42l2.731 2.732Z" /></svg>');
    --md-admonition-icon--objectives:   url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.92 6.085h.001a.749.749 0 1 1-1.342-.67c.169-.339.436-.701.849-.977C6.845 4.16 7.369 4 8 4a2.756 2.756 0 0 1 1.637.525c.503.377.863.965.863 1.725 0 .448-.115.83-.329 1.15-.205.307-.47.513-.692.662-.109.072-.22.138-.313.195l-.006.004a6.24 6.24 0 0 0-.26.16.952.952 0 0 0-.276.245.75.75 0 0 1-1.248-.832c.184-.264.42-.489.692-.661.103-.067.207-.132.313-.195l.007-.004c.1-.061.182-.11.258-.161a.969.969 0 0 0 .277-.245C8.96 6.514 9 6.427 9 6.25a.612.612 0 0 0-.262-.525A1.27 1.27 0 0 0 8 5.5c-.369 0-.595.09-.74.187a1.01 1.01 0 0 0-.34.398ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" /></svg>');
    --md-admonition-icon--challenge:    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z" /></svg>');
    --md-admonition-icon--prereq:       url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391l-19.9 107.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121l19.9-107.9c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1l90.3-62.3c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1-192 0zm224 0a128 128 0 1 0-256 0 128 128 0 1 0 256 0z"/></svg>');
    --md-admonition-icon--checklist:    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2.75 1h10.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 13.25 15H2.75A1.75 1.75 0 0 1 1 13.25V2.75C1 1.784 1.784 1 2.75 1ZM2.5 2.75v10.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25H2.75a.25.25 0 0 0-.25.25Zm9.28 3.53-4.5 4.5a.75.75 0 0 1-1.06 0l-2-2a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018l1.47 1.47 3.97-3.97a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042Z" /></svg>');
    --md-admonition-icon--solution:     url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https: //fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4 142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1 3.3-7.9 3.3-16.7 0-24.6-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1-288 0zm144-64c0 35.3-28.7 64-64 64-7.1 0-13.9-1.2-20.3-3.3-5.5-1.8-11.9 1.6-11.7 7.4.3 6.9 1.3 13.8 3.2 20.7 13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1-5.8-.2-9.2 6.1-7.4 11.7 2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>');
    --md-admonition-icon--discussion:   url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 16c.9 0 1.7-.6 1.9-1.5.1-.3-.1-.5-.4-.5h-3c-.3 0-.5.2-.4.5.2.9 1 1.5 1.9 1.5ZM3 5c0-2.8 2.2-5 5-5s5 2.2 5 5v3l1.7 2.6c.2.2.3.5.3.8 0 .8-.7 1.5-1.5 1.5h-11c-.8.1-1.5-.6-1.5-1.4 0-.3.1-.6.3-.8L3 8.1V5Z" /></svg>');
    --md-admonition-icon--testimonial:  url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m8 14.25.345.666a.75.75 0 0 1-.69 0l-.008-.004-.018-.01a7.152 7.152 0 0 1-.31-.17 22.055 22.055 0 0 1-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.066 22.066 0 0 1-3.744 2.584l-.018.01-.006.003h-.002ZM4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.58 20.58 0 0 0 8 13.393a20.58 20.58 0 0 0 3.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.749.749 0 0 1-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5Z" /></svg>');
    --md-admonition-icon--keypoints:    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https: //fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24v112c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zm-32 224a32 32 0 1 1 64 0 32 32 0 1 1-64 0z"/></svg>');
    --md-admonition-icon--caution:      url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" /></svg>');
}
    /* callout      ; #f4fd9c ; .icons/octicons/pin-16.svg */
    .md-typeset .admonition.callout,
    .md-typeset details.callout                 {border-color: rgb(180, 200, 4); }
    .md-typeset .callout>.admonition-title,
    .md-typeset .callout>summary                {background-color: rgba(180, 200, 4, 0.125); }
    .md-typeset .callout>.admonition-title::before,
    .md-typeset .callout>summary::before{
        background-color: rgb(180, 200, 4);
        -webkit-mask-image: var(--md-admonition-icon--callout);
        mask-image: var(--md-admonition-icon--callout);
    }
    /* objectives   ;  #daee84 ; .icons/octicons/question-16.svg */
    .md-typeset .admonition.objectives,
    .md-typeset details.objectives              {border-color: rgb(150, 177, 27);}
    .md-typeset .objectives>.admonition-title,
    .md-typeset .objectives>summary             {background-color: rgba(150, 177, 27, 0.125);}
    .md-typeset .objectives>.admonition-title::before,
    .md-typeset .objectives>summary::before{
        background-color: rgb(150, 177, 27);
        -webkit-mask-image: var(--md-admonition-icon--objectives);
        mask-image: var(--md-admonition-icon--objectives);
    }
    /* challenge    ; #eec275 ; .icons/octicons/pencil-16.svg */
    .md-typeset .admonition.challenge,
    .md-typeset details.challenge              {border-color: rgb(182, 123, 22);}
    .md-typeset .challenge>.admonition-title,
    .md-typeset .challenge>summary             {background-color: rgba(182, 123, 22, 0.125);}
    .md-typeset .challenge>.admonition-title::before,
    .md-typeset .challenge>summary::before{
        background-color: rgb(182, 123, 22);
        -webkit-mask-image: var(--md-admonition-icon--challenge);
        mask-image: var(--md-admonition-icon--challenge);
    }
    /* prereq       ; #9cd6dc ; .icons/fontawesome/solid/sun.svg  */
    .md-typeset .admonition.prereq,
    .md-typeset details.prereq              {border-color: rgb(53, 141, 151);}
    .md-typeset .prereq>.admonition-title,
    .md-typeset .prereq>summary             {background-color: rgba(53, 141, 151, 0.125);}
    .md-typeset .prereq>.admonition-title::before,
    .md-typeset .prereq>summary::before{
        background-color: rgb(53, 141, 151);
        -webkit-mask-image: var(--md-admonition-icon--prereq);
        mask-image: var(--md-admonition-icon--prereq);
    }
    /* checklist    ; #dfd2a0 ; .icons/octicons/checkbox-16.svg */
    .md-typeset .admonition.checklist,
    .md-typeset details.checklist              {border-color: rgb(153, 133, 51);}
    .md-typeset .checklist>.admonition-title,
    .md-typeset .checklist>summary             {background-color: rgba(153, 133, 51, 0.125);}
    .md-typeset .checklist>.admonition-title::before,
    .md-typeset .checklist>summary::before{
        background-color: rgb(153, 133, 51);
        -webkit-mask-image: var(--md-admonition-icon--checklist);
        mask-image: var(--md-admonition-icon--checklist);
    }
    /* solution     ; #ded4b9 ; .icons/fontawesome/solid/eye.svg */
    .md-typeset .admonition.solution,
    .md-typeset details.solution              {border-color: rgb(139, 119, 65);}
    .md-typeset .solution>.admonition-title,
    .md-typeset .solution>summary             {background-color: rgba(139, 119, 65, 0.125);}
    .md-typeset .solution>.admonition-title::before,
    .md-typeset .solution>summary::before{
        background-color: rgb(139, 119, 65);
        -webkit-mask-image: var(--md-admonition-icon--solution);
        mask-image: var(--md-admonition-icon--solution);
    }
    /* discussion   ; #eec275 ; .icons/octicons/bell-fill-16.svg */
    .md-typeset .admonition.discussion,
    .md-typeset details.discussion              {border-color: rgb(182, 123, 22);}
    .md-typeset .discussion>.admonition-title,
    .md-typeset .discussion>summary             {background-color: rgba(182, 123, 22, 0.125);}
    .md-typeset .discussion>.admonition-title::before,
    .md-typeset .discussion>summary::before{
        background-color: rgb(182, 123, 22);
        -webkit-mask-image: var(--md-admonition-icon--discussion);
        mask-image: var(--md-admonition-icon--discussion);
    }
    /* testimonial  ; #fc8dc1 ; .icons/octicons/heart-16.svg */
    .md-typeset .admonition.testimonial,
    .md-typeset details.testimonial              {border-color: rgb(199, 5, 96);}
    .md-typeset .testimonial>.admonition-title,
    .md-typeset .testimonial>summary             {background-color: rgba(199, 5, 96, 0.125);}
    .md-typeset .testimonial>.admonition-title::before,
    .md-typeset .testimonial>summary::before{
        background-color: rgb(199, 5, 96);
        -webkit-mask-image: var(--md-admonition-icon--testimonial);
        mask-image: var(--md-admonition-icon--testimonial);
    }
    /* keypoints    ; #7ae78e ; .icons/fontawesome/solid/circle-exclamation.svg */
    .md-typeset .admonition.keypoints,
    .md-typeset details.keypoints              {border-color: rgb(32, 172, 57); }
    .md-typeset .keypoints>.admonition-title,
    .md-typeset .keypoints>summary             {background-color: rgba(32, 172, 57, 0.125);}
    .md-typeset .keypoints>.admonition-title::before,
    .md-typeset .keypoints>summary::before{
        background-color: rgb(32, 172, 57);
        -webkit-mask-image: var(--md-admonition-icon--keypoints);
        mask-image: var(--md-admonition-icon--keypoints);
    }
    /* caution      ; #cf000e ;  .icons/octicons/alert-16.svg */
    .md-typeset .admonition.caution,
    .md-typeset details.caution              {border-color: rgb(207, 0, 14); }
    .md-typeset .caution>.admonition-title,
    .md-typeset .caution>summary             {background-color: rgba(207, 0, 14, 0.3);}
    .md-typeset .caution>.admonition-title::before,
    .md-typeset .caution>summary::before{
        background-color: rgb(207, 0, 14);
        -webkit-mask-image: var(--md-admonition-icon--caution);
        mask-image: var(--md-admonition-icon--caution);
    }

